@model assinment1.Models.Sections

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sections</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Hall_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course.Course_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.professor.Professor_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Section_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
